
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">

 
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <title>created blog</title>
    <link href="/styles.css" rel="stylesheet">
</head>
<body>
  <div class=blog-content-container>
    <%- include("partials/header.ejs") %>
    <figure class="text-center">
  <blockquote class="blockquote">
    <p><%= blogname %></p>
  </blockquote>
  <figcaption class="blockquote-footer">
    by - <cite title="Source Title"><%= authname %></cite>
  </figcaption>
</figure>

<!-- Outside but styled -->
<div class="innercont text-center mt-4">
  <p><%= content %></p>
</div>
</div>

</body>
</html>

